
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

}

.brandName {
    font-family: 'Bebas Neue', cursive;
}

.subHeading {
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}

.logo {
    height: 100%;
    width: 100px;
}

.logoAndName {
    display: flex;
    align-items: center; 
}