@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.aboutMe {
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.heading {
    text-align: center; 
    font-family: 'Bebas Neue', cursive;
}

.text {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.Arushi {
    width: 20%;
    height: 80%;
    max-height: 80%;
    margin: auto;
    display: flex;

}

.Owl {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;

}

.contactBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #13507C;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.contactBox:hover {
    background-color: #0F3D5C;
    transform: translateY(-5px);
  }


.textWithinBox {
    color:#cda434;
    font-family: 'Maven Pro', sans-serif;
}

.icon {
    color: #cda434;
}
